<div class="row contact-container">
    <div class="col-md-12" >
        <h1 class="text-center">{{$ctrl.title}}</h1>
    </div>
    <div class="contact-information-content-container">
        <div class="col-md-6">
            <div class="col-md-6 col-md-offset-3 text-center motive-description-container">
                <p>{{$ctrl.motiveDescription}}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-information-container">
                <div class="col-md-12">
                    <div class="email-container">
                        <div class="email-icon-set">
                        <i class="fa fa-envelope-o fa-2x contact-icon" aria-hidden="true"></i>
                        <span class="contact-text">{{$ctrl.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="github-container" ng-click="$ctrl.viewGithub()">
                        <i class="fa fa-github fa-2x contact-icon" aria-hidden="true"></i>
                        <span class="contact-text github">{{$ctrl.github}}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="resume-container" ng-click="$ctrl.viewResume()">
                        <i class="fa fa-file-text-o fa-2x contact-icon" aria-hidden="true"></i>
                        <span class="contact-text">{{$ctrl.resume}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="copyright-container">
                <div class="personal-copyright-container text-center">
                    <span class="personal-copyright">© Copyright {{$ctrl.date}} Benjamin Strumeyer</span>
                </div>
                <div class="icon-copyright-container text-center">
                    <span class="icon-copyright">
                        Icons created by Freepik from www.flaticon.com 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>