<div class="row contact-container">
    <div class="col-md-12" >
        <h1 class="text-center">{{$ctrl.title}}</h1>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 col-md-offset-3 text-center motive-description-container">
            <p>{{$ctrl.motiveDescription}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="contact-information-container">
            <div class="row">
                <i class="fa fa-envelope-o fa-2x contact-icon" aria-hidden="true"></i>
                <span class="contact-text">{{$ctrl.email}}</span>
            </div>
            <div class="row">
                <i class="fa fa-github fa-2x contact-icon" aria-hidden="true"></i>
                <span class="contact-text github">{{$ctrl.github}}</span>
            </div>
            <div class="row">
                <i class="fa fa-file-text-o fa-2x contact-icon" aria-hidden="true"></i>
                <span class="contact-text">{{$ctrl.resume}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="personal-copyright-container text-center">
            <span class="personal-copyright">© Copyright {{$ctrl.date}} Your Business Name</span>
        </div>
        <div class="icon-copyright-container text-center">
            <span class="icon-copyright">
                Icons created by Freepik from www.flaticon.com 
            </span>
        </div>
    </div>
</div>