.project-information-popup.ng-hide-add {
    animation: fadeOutDown .135s;
}

.project-information-popup.ng-hide-remove {
    animation: fadeInUp .135s;
}


.carousel-popup-container-parent.ng-hide-remove {
    animation: fadeInDown .135s;
}

@keyframes grow {    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}

/*
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hobby-wrapper .circle:hover {
     animation: grow .3s;
}

/*
.current-hobby-center-container.ng-hide-remove {
    animation: fadeIn 1s ease;
}
*/

.current-hobby-center-container.ng-hide-remove {
/*    animation: fadeIn 1s ease;*/
    
    -webkit-animation: fadeIn .7s;
    -moz-animation: fadeIn .7s;
    -o-animation:fadeIn .7s;
    animation: fadeIn .7s;
}

.name-container {
    -webkit-animation: rollIn .7s;
    -moz-animation: rollIn .7s;
    -o-animation:rollIn .7s;
    animation: rollIn .7s;
}

.job-title-container {
    -webkit-animation: tada .7s;
    -moz-animation: tada .7s;
    -o-animation:tada .7s;
    animation: tada .7s;
    
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay  .8s;
    animation-delay : .8s;
}

