/*
.project-container.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
}

.project-container.ng-enter-active {
    transition: 0.4s linear all;
    opacity: 1;
}*/


.project-information-popup.ng-hide-add {
    animation: fadeOut .1s ease;
}

.project-information-popup.ng-hide-remove {
    animation: fadeIn .1s ease;
}

.bounce.ng-enter, .bounce.ng-leave {
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.bounce.ng-enter {
   -webkit-animation-name: bounceInDown;
   animation-name: bounceInDown;
}

.bounce.ng-leave {
   -webkit-animation-name: bounceOutDown;
   animation-name: bounceOutDown;
}