#landing-screen {
    margin-top: -20px;
    background-image: url('/assets/img/Wave%20OSX.jpg');
    background-size: 100% 100%;
/*    background-attachment: fixed;*/
    background-repeat:no-repeat;
}

.project-section {
    background-color: hsl(28,52%,82%);
}

body {
    background-color: hsl(28,52%,82%)
}

.full-screen {
    height: 100vh;
}

#personal-pic-section {
/*    background-color: hsl(28,52%,65%);*/
    background-color: hsl(177,14%,60%);
    height: 50.2vh;
}

#personal-pic-section h1 {
    margin: 0;
    padding: 20px;
}

#about-me-section {
    background-color: hsl(177,14%,62%);
    height: 50.2vh;
}

#about-me-section h1 {
    margin: 0;
    padding: 20px;
}

#contact-info {
    background-color: hsl(177,14%,62%);
    height: 38.8vh;
}

.container-table {
    display: table;
}

.row-fluid {
    display: table-cell;
    height: 100%; 
    vertical-align: middle;
}

.job-title-container  {
    position: relative;
    top: 4vh;
}
#job-title {
    font-size: 5em;
}

#title {
    padding-top: 10px;
    font-size: 2.2em
}

.projects-container {
    width: 80%;
    height: 87vh;
    margin: 0vh auto 80vh auto;
    padding: 2.5vh;
}

.projects-container .top-row {
    margin: 0 0 3vh 0;
}

.project-container {
    height: 50%;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #888888;
}

.title-container h1 {
    margin: 2vh 0 0 0;
}

.project-information-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 15vh;
    background: black;
    opacity: .4;
}

.project-container-wrapper {
    position: relative; 
    left: 0;
    right: 0;
}

.project-information-container {
    margin: 0 0 0 .8vw;
}

.project-information-container .project-name h1{
    font-size: 2em;
    color: white;
    margin: 2.5vh 0 2.5vh 0;
}

.project-information-container .technology-container {
    color: white;
    border: 1px solid white;
    padding:  7px 4px 4px 4px;
    border-radius: 4px;
    margin: 0 .3vw 0 0;
}

.project-information-container .technology-text {
    font-size: 1.4em;
}

.expanded-project-container {
    border: 2px solid black;
    height: 85vh;
    margin: 2vh 11vw 0 11vw;
    box-shadow: 4px 4px 4px #888888;
/*    padding: 10px;*/
}

.expanded-project-container h1 {
    font-size: 2.5em;
    margin: 1.4vh 0 1.4vh 0;
}

.expanded-project-container .col-md-12 {
    padding: 0;
}
.expanded-project-container .project-title-container {
    border-bottom: 1px solid black;
    height: 6.3vh;
}

.expanded-project-container .project-carousel-container {
    height: 48vh;
}

.expanded-project-container .back-button-container {
    position: absolute;
    border: 2px solid black;
    margin: 1.2vh 0 0 1.3vh;
    border-radius: 100px;
    height: 4.5vh;
    width: 4.5vh;
    z-index: 1;
    box-shadow: 1px 1px 1px #888888;
}
.expanded-project-container .back-button {
    height: 2vh;
    width: 2vh;
    border-top: 5px solid black;
    border-left: 5px solid black;
    transform: rotate(-45deg);
    margin: 1.1vh 0 0 .65vw;
    position: absolute;
    z-index: 2;
}

.expanded-project-container .tools-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 6vh;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.tools-container .technology-container {
    border: 2px solid black;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #888888;
}

.tools-description-container .project-description-container {
    width: 76vw;
    height: 23vh;
    padding: 10px;
}

.tools-description-container .project-description {
    font-size: 2.9vh;
}

.project-carousel-container {
    padding-top: 10px;
}

.project-carousel-container #myCarousel {
    margin: auto;
    height: 47.5vh;
    width: 40vw;
}

.project-carousel-container .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    outline: 0;
    visibility: hidden;
 }

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: -3vw;
    visibility: visible;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    left: -3vw;
    visibility: visible;
}

/*
.carousel .carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}*/
