html, body {
/*    background-color: hsl(28,52%,82%);*/
/*    background-color: hsl(15,98%,90%);*/
    background-color: hsl(242,47%,21%);
    color: white;
    overflow-x: hidden;
}

body {
    position: relative;
}

#landing-screen {
    background-image: url('/assets/img/Dusk_purple.jpg');
    background-size: cover;
/*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 5;
}

.section-container {
/*    transparent bg*/
    position: relative;
}
.section-container-alt {
/*    background-color: hsl(177,14%,60%);*/
    background-color: hsl(15,98%,30%);
    position: relative;
}

.full-screen {
    min-height: 100vh;
}

.about-me-section {
    background-color: hsl(242,47%,31%);
    position: relative;
    box-shadow: 0 -5px 20px 5px hsl(242,47%,31%);
    padding: calc(-30px + 4%) 0 0 0;
}


.container-table {
    display: table;
}

.row-fluid {
    display: table-cell;
    height: 100%; 
    vertical-align: middle;
}

.nav {
    width:100%;
    margin: 0;
}

.navbar {
    background-color: transparent;
    background: transparent;
/*    border-color: transparent;*/
    z-index: 5;
    width: 100%;
    position: fixed;
    min-height: 50px;
    border: none;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar .nav {
    padding: calc(30px - 2%);
}


.navbar .logo {
    height:  60px;
    width: 100px;
    display: inline-block;
    margin-left: -6%;
    margin-right: 3%;
    margin-top: -5px;
}

.nav-container {
    white-space: nowrap;
    margin: auto;
    background-color: hsl(242,84%,12%);
}

.navbar li > a {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

.nav > li {
    float:none;
    width: auto;
    display: inline-block;
    padding: 0 1%;
    white-space: nowrap;
    text-align: center;
    margin: 8.5px 0;
}

.navbar-nav > .active a {
    border-radius: 30px;
    background-color: hsl(242,47%,31%);
}

.navbar-nav > li > a {
    padding: 10px;
}

.nav>li>a:hover {
    border-radius: 30px;
    box-shadow: inset 0px 0 2px hsl(242,47%,21%), 0px 0 2px white;
/*    border: 3px solid hsl(242,47%,31%);*/
}

.header-container {
    padding-top: 79vh;
    font-size: 45px;
}

.header-container p {
    display: inline-block;
}

.header-container p:nth-child(1)::first-letter,
.header-container p:nth-child(2)::first-letter {
    font-size: 65px;
/*    color: hsl(182,82%,55%);*/
    color: #379bf4;
}

.header > p:nth-child(3) {
    font-family: monospace;
/*    color: hsl(182,82%,55%);*/
/*    color: hsl(242,  90%, 61%);*/
    color: #379bf4;
}

.header-container p:nth-child(1) span:nth-child(2), 
.header-container p:nth-child(2) span:nth-child(2) {
    margin-left: -10px;
}

.about-me-scroll-button {
    border-radius: 300px;
/*    color: hsl(182,82%,55%);*/
    color: #379bf4;
    background: transparent;
}

.about-me-scroll-button-container > button {
    border: none;
}

.projects-view {
/*    box-shadow: 0 -5px 20px 5px hsl(242,50%,21%);*/
    padding-top: 4vh;
}
.projects-container {
    width: 80%;
    padding: 2.5vh;
}

.projects-container .top-row {
    margin-bottom: 3vh;
}

.projects-container .third-project {
    margin-bottom: 3vh;
}

.project-container {
    height: 41%;
    border: 2px solid black;
    box-shadow: 4px 4px 4px hsl(242,47%,21%);
    position: relative;
    overflow: hidden;
    margin: 15px 0;
}

.projects-container .odd-project {
    margin-right: 
}

.projects-container .evenproject {
    
}

.project-container .technologies-container {
    margin: -1vh 5px 0 0px;
}

.project-container .technology-text {
    line-height: 35px;
    color: hsl(0, 0%, 2%);
}

.project-container .project-first-image {
    height: 100%;
    width: 100%;
}

.title-container h1 {
    margin: 2vh 0 0 0;
}

.project-information-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding-bottom: 15px;
/*    background: black;*/
/*    opacity: .4;*/
    background-color: hsl(0,0%,6%);
}

.project-information-popup .technology-container .label {
    padding: 7px 4.5px 6px 4.5px;
    border: 2px solid hsl(0, 0%, 6%);
    border-radius: 8%;
}

.project-container-wrapper {
    left: 0;
    right: 0;
}

.project-information-container {
    margin: 0 0 0 .8vw;
}

.project-information-container .project-name h1{
    font-size: 2em;
    color: white;
    margin: 2.2vh 0 2.5vh 0;
}

.project-information-container .technologies-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.project-information-container .technology-text {
    font-size: 1.5em;
}

.expanded-project-container .technology-text {
    font-size: 17px;
}

.expanded-project-container .technology-container .label {
    padding: 8.5px 5px 5px 2px;
    border-radius: 7%;
}

.technology-text {
    color: hsl(0, 0%, 6%);
}

.expanded-project-container {
    margin-top: 4vh;
    border: 2px solid black;
    box-shadow: 4px 4px 4px hsl(242,47%,21%);
    width: 78%;
    padding: 10px;
    min-width: 200px;
    background-color: hsl(242,47%,31%);
    min-height: 86vh;
}

.expanded-project-container h1 {
    font-size: 2.5em;
    margin: 1.4vh 0 1.4vh 0;
}

.expanded-project-container .project-title-container {
    border-bottom: 1px solid black;
    height: 6.3vh;
}

.expanded-project-container .back-button-container {
    position: absolute;
    margin: 1.4vh 0 0 1vw;
    z-index: 1;
}

.expanded-project-container .back-button {
    min-width: 4vw;
    border: 2px solid black;
    color: black;
    background-color: hsl(182,82%,55%);
    padding: 0 2px 0 0;
    box-shadow: 1px 1px 1px;
}

.expanded-project-container .back-button:hover .fa-long-arrow-left{
    color: white;
}

.expanded-project-container .github-link-container {
    position: absolute;
    top: 10.4vh;
    right: 12vw;
    padding: 0 5px;
    z-index: 5;
}

.expanded-project-container .github-link {
    color: hsl(182,82%,55%);
}

.expanded-project-container .github-link:hover {
    color: white;
        cursor: pointer;
}

.expanded-project-container .tools-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    line-height: 45px;
}

.expanded-project-container .technology-container img {
    padding-bottom: 8px;
}

.technology-container .label-HTML5 {
/*    background: hsl(12,90%,32%);*/
    background: hsl(30,90%,50%);
}


.technology-container .label-CSS3 {
    background-color: hsl(200,90%,45%);
}

.technology-container .label-Javascript {
     background-color: hsl(40,90%,50%);
}

.technology-container .label-JQuery {
    background-color: hsl(180,90%,33%);
}

.technology-container .label-Spring {
    background-color: hsl(100,90%,22%);
}

.technology-container .label-CloudDatastore {
    background: hsl(0,90%,40%);
}

.technology-container .label-AngularJS {
    background: hsl(0,90%,37%);
}

.technology-container .label-NodeJS {
    background-color: hsl(135,90%,18%);
}

.technology-container .label-MongoDB {
     background-color: hsl(28,35%,18%);
}

.expanded-project-container .project-description-container {
    padding: 10px 20px 0 20px;
}

.expanded-project-container .project-description {
    font-size: calc(10px + 1.3vh);
    text-indent: 30px;
}


.expanded-project-container .carousel-popup-container-parent {
    position: absolute;
    left: 50%;
}
.expanded-project-container .carousel-popup-container {
    position: relative;
    left: -50%;
    margin-top: 4px;
    border: 1px solid black;
    background: black;
    border-radius: 40px;
    z-index: 1;
    padding: 0 3.5px;
}

.expanded-project-container .carousel-popup {
    font-size: 12px;
    color: white;
}

.project-carousel-container {
    padding: 10px 0 10px 0;
    min-width: 200px;
    max-width: 755px;
    margin: 0 auto;
}

.project-carousel-container #myCarousel {
    margin: auto;
    min-height: 200px;
    min-width: 400px;
    width: 100%;
}

.project-carousel-container .carousel-image {
    min-height: 40vh;
    cursor: pointer;
}

.project-carousel-container .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    outline: 0;
}

.project-carousel-container #myCarousel .carousel-indicators {
    z-index: 1;
}

.personal-picture-container .personal-picture {
    margin-top: 6vh;
    height: 36vh;
    border-radius: 200px;
}


.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    visibility: visible;
    color: hsl(0,0%,62%);
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    visibility: visible;
    color: hsl(0,0%,62%);
}

.image-viewer {
    padding-top: 8vh;
    position: absolute;
    top: -2vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: hsl(242,47%,21%);
    z-index: 2;
}

.image-viewer .project-title {
    font-size: 2em;
}


.image-viewer .exit-button-container {
    position: absolute;
    left: 12vw;
    top: 9.2vh;
    padding: 10px;
}

.image-viewer .exit-button {
    min-width: 4vw;
    border: 2px solid black;
    color: black;
    background-color: hsl(182,82%,55%);
    padding: 0 2px 0 0;
    box-shadow: 1px 1px 1px;
}

.image-viewer .exit-button-container:active .exit-button {
    color: hsl(182,82%,55%);
}

.image-viewer .exit-button:hover .fa-long-arrow-left{
    color: white;
}

.image-viewer .carousel-container {
    min-height: 20vh;
    max-width: 1150px;
    margin: 2vh auto 0 auto;
    border: 1px solid black;
}

/*
.image-Viewer .carousel-control.left {
    margin-left: -8vw;
}

.image-Viewer .carousel-control.right {
    margin-right: -8vw;
}
*/

.image-Viewer .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    outline: 0;
}

.glyphicon-remove:before {
    font-size: 33px;
}

.image-viewer .project-images-container{
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 32px 20px;
    margin: auto;
    width: 100%;
    background-color: hsl(242,47%,21%);
}

.image-viewer .project-image {
    border: 1px solid black;
    height: 175px;
    width: 300px;
    margin: 0 8px;
    min-width: 40px;
}

.image-viewer .project-image:hover {
    border: 2px solid white;
}

.contact-container {
    background-color: hsl(242,47%,31%);
    margin-right: 0;
    min-height: 28vh;
}

.contact-container .row {
    margin-left: 0;
    margin-right: 15px;
}

.contact-information-container ul {
    list-style-type: none;
}

.contact-container .motive-description-container {
    margin-top: 3vh;
}

.contact-container p {
    font-size: 2em;
    font-style: italic;
}

.contact-container .contact-information-container {
    position: relative;
    left: 30%;
    margin: 3vh 28vw 0 0;
}

.contact-container .contact-text {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contact-container .contact-icon {
    margin-bottom: 13px;
}

.contact-container .email-icon-set {
    width: 208%;
}

.contact-information-container .fa-envelope-o:before {
    color: hsl(182,82%,55%);
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.contact-information-container .email-container:hover .fa-envelope-o:before {
    color: white;
}

.contact-information-container .fa-github:before {
    color: hsl(182,82%,55%);
    position: relative;
    top: 2.5px;
    left: 1.5px;
    margin-right: 5px;
}

.contact-information-container .github-container:hover .fa-github:before {
    color: white;
}

.contact-information-container .github-container:hover {
    cursor: pointer;
}

.contact-information-container .fa-file-text-o:before {
    color: hsl(182,82%,55%);
    position: relative;
    top: 3px;
    left: 1.5px;
    margin-right: 5px;
}

.contact-information-container .resume-container:hover .fa-file-text-o:before {
    color: white;
}

.contact-information-container .resume-container:hover {
    cursor: pointer;
}

.hobby-circle-parent-container {
/*
    height: 94%;
    width: 94%;
    margin: 0 auto;
    position: relative;
*/
    height: 100vh;
    width: 100vh;
    position: absolute;
/*    top: calc(20px + 5%);*/
/*    top: 9%;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 5px solid white;
    z-index: 1;
}

.y-axis {
    height: 100%;
    position: absolute;
    left: 47vh;
    border: 1px solid white;
    width: 0px;
}

.x-axis {
    height: 0px;
    width: 100%;
    position: absolute;
    top: 47vh;
    border: 1px solid white;
}

.center {
    height: 10px;
    width: 10px;
    position: absolute;
    left: 46.5vh;
    top: 46.5vh;
    background: white;
}

.outside-hobby-circles-wrapper {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    
}

.outside-hobby-circles-wrapper .circle-wrapper {
    position: absolute;
    color: black;
    
}

.circle-wrapper .circle {
    height: 0;
    width: 0%;
    background-color: hsl(242,47%,21%);
    border-radius: 100%;
    position: relative;
    padding: calc(75px + 3.5%) calc(75px + 3.5%);
    margin-left: -5%;
}

.individual-hobby-circle-content-container-wrapper {
    position: absolute;
    margin: auto;
    height: 60%;
    width: 60%;
    top: 34%;
    left: 20%;
}

.individual-hobby-circle-content-container {
    position: relative;
    margin: auto;
}

.hobby-icon-container  {
    height: calc(85px + 2%);
    width:  calc(85px + 2%);
/*    margin: 0 auto;*/
    margin: auto;
    padding: 28% 0;
    position: relative;
}

.hobby-icon-container img {
    position: absolute;
    bottom: 0;
    width: 88%;
    left: 0;
    right: 0;
    margin: auto;
}

.hobby-title {
    margin: auto;
}

.center-circle-container-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*
.center-circle-container {
    height: 0;
    width: 26%;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    margin: 0 auto;
    padding: calc(190px + 3.5%) calc(190px + 3.5%);
}
*/

.center-circle-container {
    height: 0;
    width: 22%;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    margin: 0 auto;
    padding: calc(255px + 0.5vh) calc(255px + 0.5vh);
/*    padding: 260px 260px;*/
} 

.outside-hobby-circles-wrapper .title-container  {
    position: relative;
    height: 17%;
    width: 180%;
    margin-left: -37.5%;
    background-color: hsl(242,47%,91%);
    border-radius: 50px;
    display: table;
}


.outside-hobby-circles-wrapper .title {
    display: table-cell;
    vertical-align: middle;
    color: hsl(242,47%,21%);
    font-size:  19px;
}

#default-circle-background-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-image: url('/assets/img/Personal_Picture.jpg');
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    -webkit-filter: brightness(66%) contrast(70%);
    -moz-filter: brightness(66%) contrast(70%);
    -o-filter: brightness(66%) contrast(70%);
    -ms-filter: brightness(66%) contrast(70%);
    filter: brightness(66%) contrast(70%);
}

.current-hobby-center-container .background-container {
    height: 100%;
    width: 100%;
    border-radius: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    -webkit-filter: brightness(40%) contrast(70%);
    -moz-filter: brightness(40%) contrast(70%);
    -o-filter: brightness(40%) contrast(70%);
    -ms-filter: brightness(40%) contrast(70%);
    filter: brightness(40%) contrast(70%);
    
}

.default-circle-container {
/*
    position: absolute;
    top: 0;
    left: 0;
*/
}

.default-circle-container .content-container {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 47%;
    left: 10%;
}

.current-hobby-center-container .content-container {
    height: 100%;
    width: 80%;
    border-radius: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
    text-shadow: .6px .6px #000000;
}

.center-circle-container .content {
	font-size: 1.9em;
}


.current-hobby-center-container .hobby-description {
    position: absolute;
    text-shadow: #000 0 0 15px;
}

.copyright-container {
    margin-top: 4%;
    font-size: 11px;
}

.contact-information-content-container {
    margin-top: 6%;
}
