#landing-screen {
    margin-top: -20px;
    background-image: url('/assets/img/Wave%20OSX.jpg');
    background-size: 100% 100%;
/*    background-attachment: fixed;*/
    background-repeat:no-repeat;
}

.project-section {
    background-color: hsl(28,52%,82%);
    position: relative;
}

.me-section {
    background-color: hsl(177,14%,60%);
}

body {
    background-color: hsl(28,52%,82%);
    position: relative;
}

.full-screen {
    min-height: 100vh;
}

#personal-pic-section {
/*    background-color: hsl(28,52%,65%);*/
    background-color: hsl(177,14%,60%);
    height: 50.2vh;
}

#personal-pic-section h1 {
    margin: 0;
    padding: 20px;
}

#about-me-section {
    background-color: hsl(177,14%,62%);
    min-height: 50.2vh;
}

#about-me-section h1 {
    margin: 0;
    padding: 20px;
}

#contact-info {
    background-color: hsl(177,14%,62%);
    height: 38.8vh;
}

.container-table {
    display: table;
}

.row-fluid {
    display: table-cell;
    height: 100%; 
    vertical-align: middle;
}

.job-title-container  {
    position: relative;
    top: 4vh;
}
#job-title {
    font-size: 5em;
}

#title {
    padding-top: 10px;
    font-size: 2.2em;
}

.projects-container {
    width: 80%;
    padding: 2.5vh;
}

.projects-container .top-row {
    margin-bottom: 3vh;
}

.projects-container .third-project {
    margin-bottom: 3vh;
}

.project-container {
    height: 41%;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #888888;
}

.project-container .technologies-container {
    margin: -1vh 5px 0 0px;
}

.project-container .technology-text {
    line-height: 35px;
}

.title-container h1 {
    margin: 2vh 0 0 0;
}

.project-information-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding-bottom: 15px;
    background: black;
/*    opacity: .4;*/
    background-color: hsl(0,0%,20%);
}

.project-information-popup .technology-container .label {
    padding: 7px 4.5px 6px 4.5px;
}

.project-container-wrapper {
    position: relative; 
    left: 0;
    right: 0;
}

.project-information-container {
    margin: 0 0 0 .8vw;
}

.project-information-container .project-name h1{
    font-size: 2em;
    color: white;
    margin: 2.2vh 0 2.5vh 0;
}

.project-information-container .technologies-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.project-information-container .technology-text {
    font-size: 1.5em;
}

.expanded-project-container {
    margin-top: 3vh;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #888888;
    width: 78%;
    padding: 10px;
    min-width: 200px;
}

.expanded-project-container h1 {
    font-size: 2.5em;
    margin: 1.4vh 0 1.4vh 0;
}

.expanded-project-container .project-title-container {
    border-bottom: 1px solid black;
    height: 6.3vh;
}

.expanded-project-container .back-button-container {
    position: absolute;
    margin: 1.4vh 0 0 1vw;
    z-index: 1;
}

.expanded-project-container .back-button {
    min-width: 4vw;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    padding: 0 2px 0 0;
    box-shadow: 1px 1px 1px #888888;
}

.expanded-project-container .tools-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    line-height: 45px;
}

.technology-container .label-HTML5 {
/*    background: hsl(12,90%,32%);*/
    background: hsl(30,90%,50%);
}


.technology-container .label-CSS3 {
    background-color: hsl(200,90%,45%);
}

.technology-container .label-Javascript {
     background-color: hsl(40,90%,50%);
}

.technology-container .label-JQuery {
    background-color: hsl(180,90%,33%);
}

.technology-container .label-Spring {
    background-color: hsl(100,90%,22%);
}

.technology-container .label-CloudDatastore {
    background: hsl(0,90%,40%);
}

.technology-container .label-AngularJS {
    background: hsl(0,90%,37%);
}

.technology-container .label-NodeJS {
    background-color: hsl(135,90%,18%);
}

.technology-container .label-MongoDB {
     background-color: hsl(28,35%,18%);
}

.expanded-project-container .project-description-container {
    min-height: 23%;
    padding: 10px 20px 0 20px;
}

.expanded-project-container .project-description {
    font-size: 23px;
    text-indent: 30px;
}

.project-carousel-container {
    padding: 10px 0 10px 0;
    min-width: 200px;
    max-width: 620px;
    margin: 0 auto;
}

.project-carousel-container #myCarousel {
    margin: auto;
    min-height: 200px;
    min-width: 400px;
    width: 100%;
}

.project-carousel-container .carousel-image {
    min-height: 40vh;
}

.project-carousel-container .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    outline: 0;
}

.project-carousel-container .carousel-control.left {
    margin-left: -6vw;
}

.project-carousel-container .carousel-control.right {
    margin-right: -6vw;
}

.project-carousel-container #myCarousel .carousel-indicators {
    z-index: 1;
}

.about-me-container p {
    font-size: 3vh;
    text-indent: 3vw;
}

.personal-picture-container .personal-picture {
    margin-top: 6vh;
    height: 36vh;
    border-radius: 200px;
}


.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    visibility: visible;
    color: black;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    visibility: visible;
    color: black;
}

.image-viewer {
    position: absolute;
    top: -2vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: grey;
    z-index: 2;
}


.image-viewer .project-title {
    font-size: 2em;
}


.image-viewer .exit-button-container {
    position: absolute;
    right: 1vw;
    top: 1.3vh;
    padding: 10px;
}

.image-viewer .exit-button {
    background: transparent;
    border: none;
}

.image-viewer .exit-button-container:active .exit-button {
    color: white;
}
.image-viewer .carousel-container {
    min-height: 20vh;
    max-width: 59vw;
    min-width: 500px;
    margin: 2vh auto 0 auto;
    border: 1px solid black;
}

.image-Viewer .carousel-control.left {
    margin-left: -8vw;
}

.image-Viewer .carousel-control.right {
    margin-right: -8vw;
}

.image-Viewer .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    outline: 0;
}

.glyphicon-remove:before {
    font-size: 33px;
}

.contact-section {
    width: 100%;
}

.image-Viewer .project-images-container{
/*    min-height: 31.2vh;*/
    border: 1px solid black;
}