<!--
    <div class="y-axis"></div>
    <div class="x-axis"></div>
 
    <div class="center"></div>
-->
<!--
<div class="hobby-circle-parent-container">
     Outer circles
    <div class="hobby-wrapper">
        <hobby-directive ng-repeat="circle in getHobbyLength(hobbyLength) track by $index" x="XValues[$index]" y="YValues[$index]" index="$index"></hobby-directive>
    </div> 
</div>
    
-->
<div class="center-circle-container-wrapper">
    <div class="outside-hobby-circles-wrapper">
        <hobby-directive ng-repeat="circle in getHobbyLength(hobbyLength) track by $index" x="XValues[$index]" y="YValues[$index]" index="$index"></hobby-directive>
    </div> 
    <div class="center-circle-container">
        <div ng-show="isDefault" class="default-circle-container">     
            <div id="default-circle-background-container"></div>   
            
            <div class="content-container">
                <p class="content text-center">
                    I'm a web developer, but that's not all I am. Click the outer circles to peek() into my life.
                </p>
            </div>
        </div>
        <div class="current-hobby-center-container" ng-show="isHovered">
            <div id="circle-background-container" class="background-container"></div>

            <div class="content-container">
                <p class="content text-center">
                    {{currentHobbyDescription}}
                </p>
            </div>
        </div>
    </div>
</div>
