<div class="affixed-navbar-wrapper">
    <nav id="main-navbar" class="navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav nav-container">
          <li ng-click="smoothScroll('landing-screen')" class="active"><a href="#landing-screen">Home</a></li>
          <li ng-click="smoothScroll('about')"><a href="#about">About Me</a></li>
          <li ng-click="smoothScroll('projects')"><a href="#projects">Projects</a></li>
          <li ng-click="smoothScroll('contact')"><a href="#contact">Contact</a></li>      
      </div>
    </nav>
</div>