<nav id="main-navbar" class="navbar">
    <div class="fixed-navbar-wrapper">
        <div class="container-fluid">
            <ul class="nav navbar-nav nav-container  text-center">
                <span class="logo-container">
                    <a href="#"><img class="logo" src="assets/img/logo5.png"/></a>
                </span>
                <li ng-click="smoothScroll('landing-screen')" class="active"><a href="#landing-screen">Home</a></li>
                <li ng-click="smoothScroll('about')"><a href="#about">About Me</a></li>
                <li ng-click="smoothScroll('contact')"><a href="#contact">Contact</a></li>      
        </div>
    </div>
</nav>